.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* Ensure content is above background */
    text-align: center;
    background: transparent;
    /* Ensure transparency */
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}